<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Result of search</title>
    {% include 'header.html' %}
    <style>
        body {
            padding: 10px;
        }
        .search-container {
            border: 1px solid black;
            padding: 10px;
            margin: 10px;
            display:none;
        }
    </style>
</head>
<body>

<div class="row">
    <div class="col-6 col-md-8 col-lg-6 offset-2 offset-md-2 offset-lg-4">
        <div>
            <select id="selector" class="form-control">
                {% for id in arrayOfFoundServicesId %}
                    <option value="{{ id }}">{{ arrayOfFoundServiceGroups[id].franchise_name }}</option>
                {% endfor %}
                </select>
        </div>
        {% for id in arrayOfFoundServicesId %}
        <div class="search-container text-center" id="{{id}}">
            <div><h2 id="serviceFranchaseName" >{{ arrayOfFoundServiceGroups[id].franchise_name }}</h2></div>
            <div id="servicePhone">{{ arrayOfFoundServiceGroups[id].phone }}</div>
            <div id="serviceEmail">{{ arrayOfFoundServiceGroups[id].email }}</div>
            <div id="serviceWebsite">{{ arrayOfFoundServiceGroups[id].website }}</div>
            <div id="serviceInfo">{{ arrayWithServicePostals[indexOfPostal].postal_code }},
                {{ arrayWithServicePostals[indexOfPostal].city }} , {{ arrayWithServicePostals[indexOfPostal].region }}
                , {{ arrayWithServicePostals[indexOfPostal].state }}</div>
            <div id="serviceImage" class="w-100"><img id="img_service" class="w-100" src="http://pony.codevery.work:8450{{ arrayOfFoundServiceGroups[id].images  }} " /></div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    let arrayOfContainers = $(".search-container");
    $(arrayOfContainers[0]).show();
    $(document).ready(function() {
        $("#selector").change(function() {
            $(".search-container").hide();
            $('#' + [$(this).val()]).show()
        });
    });
</script>

</body>
</html>